/* 기본 설정 */
BODY
	{
	MARGIN:0PX 0PX 0PX 0PX;
	BACKGROUND-COLOR:#FFFFFF;
	SCROLLBAR-FACE-COLOR: #FAF4F1; 
	SCROLLBAR-HIGHLIGHT-COLOR: #FFFFFF; 
	SCROLLBAR-SHADOW-COLOR: #FAF4F1; 
	SCROLLBAR-3DLIGHT-COLOR: #FAF4F1; 
	SCROLLBAR-ARROW-COLOR: #8F430B; 
	SCROLLBAR-TRACK-COLOR: #FAF4F1; 
	SCROLLBAR-DARKSHADOW-COLOR: #C3C0BE;
	}


TD,DIV,INPUT,A:LINK,A:VISITED,A:ACTIVE
	{
	FONT-FAMILY:"돋움","굴림";
	FONT-SIZE:12PX;
	COLOR:#666666;
	LINE-HEIGHT:18PX;
	TEXT-DECORATION:NONE;
	}


A:HOVER
	{
	TEXT-DECORATION:UNDERLINE;
	}


IMG
	{
	BORDER-WIDTH:0PX;
	}



/* 레이아웃 설정 */
#ALL
	{
	WIDTH:100%;
	HEIGHT:100%;
	BACKGROUND-IMAGE:URL('/images/com/bg_top.jpg');
	BACKGROUND-REPEAT:REPEAT-X;
	}


#LAYOUT
	{
	WIDTH:950PX;
	HEIGHT:100%;
	BACKGROUND-IMAGE:URL('/images/com/bg_left.gif');
	BACKGROUND-REPEAT:REPEAT-Y;
	}


#LINEMAP
	{
	WIDTH:680PX;
	HEIGHT:16PX;
	TEXT-ALIGN:RIGHT;
	COLOR:#666666;
	VERTICAL-ALIGN:TOP;
	}


#CONTENTS
	{
	MARGIN-LEFT:12PX;
	WIDTH:715PX;
	PADDING-RIGHT:24PX;
	BORDER-RIGHT:1PX #EBEBEB SOLID;
	MARGIN-BOTTOM:50PX;
	}


	#CONTENTS_SUB
		{
		MARGIN-LEFT:10PX;
		WIDTH:670PX;
		}
	

		#SUB_TT_LINE
			{
			WIDTH:100%;
			HEIGHT:4PX;
			BACKGROUND-COLOR:#DDDDDD;
			FONT-SIZE:1PX;
			MARGIN-BOTTOM:20PX;
			}


		#SUB_TXT
			{
			MARGIN:10PX 0PX 20PX 6PX;
			WIDTH:655PX;
			LINE-HEIGHT:16PX;
			}


		.BBS_TAB
			{
			BACKGROUND-IMAGE:URL('/images/community/tab_bg.gif');
			BACKGROUND-POSITION:RIGHT MIDDLE;
			BACKGROUND-REPEAT:NO-REPEAT;
			}


		.BBS_TAB_TXT
			{
			COLOR:#FFFFFF;
			TEXT-ALIGN:CENTER;
			FONT-WEIGHT:BOLD;
			BACKGROUND-COLOR:#8D6164;
			PADDING-TOP:4PX;
			}


		.BBS_PHOTO			{ BORDER:3PX SOLID #DCDCDC; }	
		#BBS_LIST TD		{ COLOR:#56373A; }
		#BBS_LIST A			{ COLOR:#56373A; }
		#BBS_LIST A:HOVER	{ COLOR:#56373A; TEXT-DECORATION:UNDERLINE; }
		.BBS_LIST_TT		{ TEXT-ALIGN:LEFT; PADDING-LEFT:15PX; }
		.BBS_LIST_TT A:HOVER	{ COLOR:#8D3501; TEXT-DECORATION:UNDERLINE; }
		.BBS_READ_TT		{ BACKGROUND-COLOR:#8D6164; HEIGHT:27PX; PADDING:4PX 0PX 0PX 7PX; COLOR:#FFFFFF; }
		.BBS_READ_TAB		{ TEXT-ALIGN:LEFT; PADDING-LEFT:10PX; }
		.BBS_READ_TAB2		{ TEXT-ALIGN:CENTER; BACKGROUND-COLOR:#F5F0F1; COLOR:#56373A; FONT-WEIGHT:BOLD; }
		#BBS_READ_CON		{ MARGIN:20PX 0PX 30PX 20PX; WIDTH:635PX; }
		.BBS_WRITE			{ TEXT-ALIGN:LEFT; PADDING:4PX 0PX 4PX 10PX; }


#FOOTER
	{
	MARGIN-TOP:50PX;
	}



/* 글꼴 타입 설정 */
.SMALL			{ FONT-SIZE:11PX; }

.RED_DARK		{ COLOR:#8D221C; }
.BROWN			{ COLOR:#6D5544; }
.BROWN_DARK		{ COLOR:#592F2E; }
.BROWN_DARK2	{ COLOR:#56373A; }
.YELLOW_RIGHT	{ COLOR:#FAFEC2; }
.GRAY_DARK		{ COLOR:#303030; }
.GRAY_RIGHT		{ COLOR:#A3A3A3; }
.GRAY_RIGHT2	{ COLOR:#888888; }
.GRAY_9			{ COLOR:#999999; }
.GRAY_75		{ COLOR:#757575; }
.GRAY_27		{ COLOR:#27291C; }


.BROWN_SEARCH	{ COLOR:#982D1D; }
.BROWN_SEARCHb	{ COLOR:#982D1D;font-weight:bold; }
.BROWN_MYPAGE	{ COLOR:#A24233; }
.BROWN_MAIL		{ COLOR:#892617; }

.INFO_TXT		{ LINE-HEIGHT:16PX; }


A.YELLOW_RIGHT:HOVER	{ COLOR:#FAFEC2; }
A.BROWN_DARK2:HOVER	{ COLOR:#56373A; }
A.RED_DARK:HOVER	{ COLOR:#8D221C; }



/* 이미지 설정 */
.BLT	{ MARGIN-BOTTOM:2PX; }



/* 기타 설정 */
.BD		{ BORDER:1PX SOLID #DFDFDF; }
.BD2	{ BORDER:2PX SOLID #E8E8E8; }
.BD3	{ BORDER:3PX SOLID #E6E6E6; }



/* 팝업 설정 */
#POPUP
	{
	MARGIN-TOP:19PX;
	MARGIN-LEFT:10PX;
	WIDTH:382;
	}



/* 폼 요소 설정 */
FORM
	{
	MARGIN:0PX 0PX 0PX 0PX;
	PADDING:0PX 0PX 0PX 0PX;
	}


INPUT,TEXTAREA
	{
	BACKGROUND-COLOR:#F5EDE9;
	HEIGHT:19PX;
	BORDER-TOP:1PX SOLID #C3BFBB;
	BORDER-LEFT:1PX SOLID #C3BFBB;
	BORDER-BOTTOM:1PX SOLID #E7E3E1;
	BORDER-RIGHT:1PX SOLID #E7E3E1;
	COLOR:#6D5544;
	PADDING:1PX 10PX 0PX 10PX;
	FONT-SIZE:12PX;
	}

#NO
	{
	BACKGROUND-COLOR:#FFFFFF;
	background:transparent;
	BORDER-WIDTH:0PX;
	}


#POPUPLINE
	{
	WIDTH:100%;
	HEIGHT:1PX;
	BACKGROUND-IMAGE:URL('/images/utility/popup_line.gif');
	BACKGROUND-IMAGE:REPEAT-X;
	FONT-SIZE:0PX;
	}


#POPUPBUTTON
	{
	MARGIN-TOP:15PX;
	TEXT-ALIGN:CENTER;
	}

	
.sms_list_border {
	BORDER-TOP:1PX SOLID #C3BFBB;
	BORDER-LEFT:1PX SOLID #C3BFBB;
	BORDER-BOTTOM:1PX SOLID #E7E3E1;
	BORDER-RIGHT:1PX SOLID #E7E3E1;
}
	
.sms_list_border_b {
	BORDER-TOP:1PX SOLID #606060;
	BORDER-LEFT:1PX SOLID #606060;
	BORDER-BOTTOM:1PX SOLID #D2D2D2;
	BORDER-RIGHT:1PX SOLID #D2D2D2;
}
